POSTGRES_USER=gym
POSTGRES_PASSWORD=replace-with-a-database-password
APP_ADMIN_USERNAME=admin
APP_ADMIN_PASSWORD=replace-with-a-long-admin-password
APP_PORT=8080
APP_EXERCISE_SYNC_CRON=0 0 4 * * SUN
APP_EXERCISE_SYNC_ZONE=UTC
APP_EXERCISE_SYNC_ON_STARTUP=true
APP_EXERCISE_SYNC_URL=https://codeload.github.com/yuhonas/free-exercise-db/zip/refs/heads/main
